*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
 }
    

header{
    display: flex;
    height: 250px;
    background-color: #999999;
}

#container-header{
    width: 100%;
    display: flex;
    justify-content: center;
}

#top-header{
    background-color: #888888;
    width: 90%;
    height: 50px;
    
}

#top-list-menu{
    margin: 5px 0;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    background-color: #777777;
}

#top-list-menu>li{
    color:black;
    background-color: #777777;
}